body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.result-container {
    display: none;
}

.error {
    font-weight: bold;
}

#log-table-container {
    display: none;
}

#toggleLogsButton {
    cursor: pointer;
}
